[submodule "core"]
	path = core
	url = https://github.com/odoo/odoo.git
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/OCA/partner-contact.git
[submodule "l10n-brazil"]
	path = l10n-brazil
	url = ./l10n-brazil/
[submodule "web"]
	path = web
	url = ./web/
